@use 'rest'
@use 'effect'
body
    position: relative
    width: 100%
    background-image: url("../images/bg_sand.jpg")

a
    text-decoration: none  
header
    position: relative 
    width: 100%
    height: 100vh
    nav.main-nav
        // position: fixed
        // top: 0
        // left: 0
        width: 100%
        height: 11.29vh
        box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.5)
        border: 1px solid rgba(255, 255, 255, 0.2)
        background: linear-gradient(180deg, rgba(50, 42, 39, 0.85) 0%, rgba(45, 40, 40, 0.55) 33.85%)
        display: grid
        grid-template-columns: 1fr 6fr 1fr
        z-index: 1000
        .main-nav_logo
            height: 100%
            margin: auto
            margin-top: 1vh
            img
                width: 8.21vw
                height: auto
        .main-nav_item
            display: flex
            align-items: center
            justify-content: center          
            a
                color: #ffffff
                text-transform: uppercase
                font-size: 1.3vw
                font-weight: 700
                margin: 0 2vw
            a#curent_page
                border: 2px #ffffff double
picture.bg-image
    img
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: -1
        width: 100%
        height: auto

section.section01 
    position: absolute
    width: 71vw
    left: 14.5vw
    top: 30vh
    color: #ffffff
    .section01-main_content
        // height: 1681px
        background: linear-gradient(180deg, rgba(50, 42, 39, 0.35) 0%, rgba(45, 40, 40, 0.85) 33.85%, #2D2828 49.48%, #2D2828 68.75%, #2D2828 82.29%, #2D2828 100%)
        border: 1px solid rgba(255, 255, 255, 0.2)
        box-sizing: border-box
        box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3)
        .header-content
            padding-top: 5vh
            padding-right: 20%
            text-align: center
            margin-bottom: 8vh
            h1
                font-size: 3.5vw
                margin-bottom: 2vh
                text-transform: uppercase
            h2
                font-size: 2vw
                margin-bottom: 2vh
            p
                font-size: 1.3vw
                padding: 1vh 10vw
        .section03
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            margin-top: 5vh
            .section03-comment
                .section03-comment_title
                    // align-items: center
                    // justify-content: center
                    .comment-body_star
                        margin: 4vh 0
                        margin-left: 50%
                        transform: translateX(-50%)
                        border-top: 2px #ffffff solid
                        border-bottom: 2px solid #ffffff
                        padding: 1vh 0
                        
                        img 
                            margin-left: 0.45vw
                            margin-right: 0.45vw
                            width: 1.4vw
                    .comment-title_img
                        
                        // transform: translateX(-60%)
                        img
                            display: block
                            border-radius: 50%
                            width: 15vw
                            height: 15vw
                            margin-left: auto
                            margin-right: auto
                    .comment-title_name
                        font-size: 1.1rem
                        font-weight: 700
                        text-align: center
                        padding-top: 2vh
                .section03-comment_body
                    text-align: justify
                    .comment-body_text
                        padding: 3vh 3vw

        nav.social-nav
            display: flex
            align-items: center
            justify-content: space-between
            padding: 1vh 5vw
            margin: 1vh 0
            a
                margin: 1vh 1vw
                img
                    width: 10vw
                    height: auto
        .header-line
            margin-left: 50%
            transform: translateX(-50%)
            display: block
            width: 90%
            height: 2px
            background-color: #fff
    
            
