<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(type="text/javascript" src="./js/jquery-3.5.1.min.js")
        title= "TEst"
        link(rel="stylesheet", href="../css/styletest.css")
    body
        div.bloc1(id= "rec106962189") TEst1
        .bloc1(id="rec106962736") TEst2
        .bloc1(id="ec106964636") Test3
        .bloc1(id="rec106962218") Test 4

        script(src="/js/js_scroll.js")