-var sizes = ['16x16', '32x32', '96x96', '120x120', '192x192', '57x57', '60x60', '72x72', '76x76', '114x114', '120x120', '144x144', '152x152', '180x180'];
-var sizesBg = ['2560', '1920', '1600', '1440', '1280']
-var cssPath = "./css/";
-var jsPath = "./js/";
-var favPath = "./favicon/";
-var imgPath = "./images/";
-var incPath = "./include/";
-var navBarColor = "#ffffff";
-var logoImg = "ruvilogo.svg"; //- Logo Image
-var logoText = "RuVi Logo" //-Logo Text
-var titles = "RuVi Profile Arts"; //Cambiar Para Head Title
-var menuItem = ['Home', 'Arts', 'Web', 'About']; // Menu name
-var menuItemHref = ['index.html', 'arts.html', '#!', 'about.html'] // Menu Link
-var socialLink = ['Freelancer', 'Pinterest', 'Youtube', 'Twitter', 'GitHub'] // Social name
-var socialLinlHref = ['https://www.freelancer.com/u/Araah', 'https://www.pinterest.com/alisaandrabbit/', '#!', '#!', 'https://github.com/Araah'] // Social link
-var cont02TextTitle = ['Title exaple 1', 'Title examplem 2'];
-var cont02Text =['Text example 1', 'Text example 2'];
-var curentPage = 'Arts';


<!DOCTYPE html>
html(lang="en")
    head
        include include/head.pug
        //- script(async type="text/javascript", src=jsPath + "gallery.js")
        
    body
        //- #bg_arts
            
        main
            div(class="cd-index cd-main-content")
                div
                    .arts_bg
                        img(src="./images/arts_bg.jpg", alt="")
                    include include/header-nav.pug
                    
                    .gallery_wrapper
                    
                        
                        .lightgallery
                            h1 Children's illustrations
                            .container
                                #carousel
                                    .selector1
                                        figure
                                            a(href= imgPath + "gallery/childs/1-min.jpg" class="item")
                                                img(src= imgPath + "gallery/childs/t1-min.jpg", alt="Dracon")
                                        figure
                                            a(href= imgPath + "gallery/childs/2-min.jpg" class="item")
                                                img(src= imgPath + "gallery/childs/t2-min.jpg", alt="Happy Birsday")
                                        figure
                                            a(href= imgPath + "gallery/childs/3-min.jpg" class="item")
                                                img(src= imgPath + "gallery/childs/t3-min.jpg", alt="Rabbit")
                                        figure
                                            a(href= imgPath + "gallery/childs/4-min.jpg" class="item")
                                                img(src= imgPath + "gallery/childs/t4-min.jpg", alt="Monkey")
                                        figure
                                            a(href= imgPath + "gallery/childs/5-min.jpg" class="item")
                                                img(src= imgPath + "gallery/childs/t5-min.jpg", alt="Tiger")
                                        figure
                                            a(href= imgPath + "gallery/childs/6-min.jpg" class="item")
                                                img(src= imgPath + "gallery/childs/t6-min.jpg", alt="Mister Hameleon Bond")
                                        figure
                                            a(href= imgPath + "gallery/childs/7-min.jpg" class="item")
                                                img(src= imgPath + "gallery/childs/t7-min.jpg", alt="Jemes Poppins")
                                        figure
                                            a(href= imgPath + "gallery/childs/8-min.jpg" class="item")
                                                img(src= imgPath + "gallery/childs/t8-min.jpg", alt="Pandemic sheeps")
                                        figure
                                            a(href= imgPath + "gallery/childs/9-min.jpg" class="item")
                                                img(src= imgPath + "gallery/childs/t9-min.jpg", alt="School stikers")
                                        figure
                                            a(href= imgPath + "gallery/childs/10-min.jpg" class="item")
                                                img(src= imgPath + "gallery/childs/t10-min.jpg", alt="Feliz")
                        .lightgallery
                            h1 Game Arts
                            .container
                                #carousel
                                    .selector1
                                        figure
                                            a(href= imgPath + "gallery/game_arts/1-min.jpg" class="item")
                                                img(src= imgPath + "gallery/game_arts/t1-min.jpg", alt="Welcom to Hell")
                                        figure
                                            a(href= imgPath + "gallery/game_arts/2-min.jpg" class="item")
                                                img(src= imgPath + "gallery/game_arts/t2-min.jpg", alt="Lava Lake")
                                        figure
                                            a(href= imgPath + "gallery/game_arts/3-min.jpg" class="item")
                                                img(src= imgPath + "gallery/game_arts/t3-min.jpg", alt="Assasin")
                                        figure
                                            a(href= imgPath + "gallery/game_arts/4-min.jpg" class="item")
                                                img(src= imgPath + "gallery/game_arts/t4-min.jpg", alt="Pixel Girl")
                                        figure
                                            a(href= imgPath + "gallery/game_arts/5-min.jpg" class="item")
                                                img(src= imgPath + "gallery/game_arts/t5-min.jpg", alt="Skull mask White bg")
                                        figure
                                            a(href= imgPath + "gallery/game_arts/6-min.jpg" class="item")
                                                img(src= imgPath + "gallery/game_arts/t6-min.jpg", alt="Skull mask Black bg")
                                        figure
                                            a(href= imgPath + "gallery/game_arts/7-min.jpg" class="item")
                                                img(src= imgPath + "gallery/game_arts/t7-min.jpg", alt="RuVi Octopus")
                                        figure
                                            a(href= imgPath + "gallery/game_arts/8-min.jpg" class="item")
                                                img(src= imgPath + "gallery/game_arts/t8-min.jpg", alt="Japon gata")
                                        figure
                                            a(href= imgPath + "gallery/game_arts/9-min.jpg" class="item")
                                                img(src= imgPath + "gallery/game_arts/t9-min.jpg", alt="Doctor Who")
                                        figure
                                            a(href= imgPath + "gallery/game_arts/10-min.jpg" class="item")
                                                img(src= imgPath + "gallery/game_arts/t10-min.jpg", alt="Samurai shake")
                        .lightgallery
                            h1 Labels and Logos
                            .container
                                #carousel
                                    .selector1
                                        figure
                                            a(href= imgPath + "gallery/label_logo/1-min.jpg" class="item")
                                                img(src= imgPath + "gallery/label_logo/t1-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/label_logo/2-min.jpg" class="item")
                                                img(src= imgPath + "gallery/label_logo/t2-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/label_logo/3-min.jpg" class="item")
                                                img(src= imgPath + "gallery/label_logo/t3-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/label_logo/4-min.jpg" class="item")
                                                img(src= imgPath + "gallery/label_logo/t4-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/label_logo/5-min.jpg" class="item")
                                                img(src= imgPath + "gallery/label_logo/t5-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/label_logo/6-min.jpg" class="item")
                                                img(src= imgPath + "gallery/label_logo/t6-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/label_logo/7-min.jpg" class="item")
                                                img(src= imgPath + "gallery/label_logo/t7-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/label_logo/8-min.jpg" class="item")
                                                img(src= imgPath + "gallery/label_logo/t8-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/label_logo/9-min.jpg" class="item")
                                                img(src= imgPath + "gallery/label_logo/t9-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/label_logo/10-min.jpg" class="item")
                                                img(src= imgPath + "gallery/label_logo/t10-min.jpg", alt="")
                        .lightgallery
                            h1 Photoshop
                            .container
                                #carousel
                                    .selector1
                                        figure
                                            a(href= imgPath + "gallery/photoshop/1-min.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t1-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/2-min.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t2-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/3-min.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t3-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/4-min.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t4-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/5-min.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t5-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/6-min.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t6-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/7-min.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t7-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/8-min.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t8-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/9-min.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t9-min.jpg", alt="")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/10-min.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t10-min.jpg", alt="")
                        .lightgallery
                                h1 Vector Illustration
                                .container
                                    #carousel
                                        .selector1
                                            figure
                                                a(href= imgPath + "gallery/vector/1-min.jpg" class="item")
                                                    img(src= imgPath + "gallery/vector/t1-min.jpg", alt="Goddess of War")
                                            figure
                                                a(href= imgPath + "gallery/vector/2-min.jpg" class="item")
                                                    img(src= imgPath + "gallery/vector/t2-min.jpg", alt="Helena")
                                            figure
                                                a(href= imgPath + "gallery/vector/3-min.jpg" class="item")
                                                    img(src= imgPath + "gallery/vector/t3-min.jpg", alt="Octopus at anchor")
                                            figure
                                                a(href= imgPath + "gallery/vector/4-min.jpg" class="item")
                                                    img(src= imgPath + "gallery/vector/t4-min.jpg", alt="Williams")
                                            figure
                                                a(href= imgPath + "gallery/vector/5-min.jpg" class="item")
                                                    img(src= imgPath + "gallery/vector/t5-min.jpg", alt="Owl")
                                            figure
                                                a(href= imgPath + "gallery/vector/6-min.jpg" class="item")
                                                    img(src= imgPath + "gallery/vector/t6-min.jpg", alt="Anna")
                                            figure
                                                a(href= imgPath + "gallery/vector/7-min.jpg" class="item")
                                                    img(src= imgPath + "gallery/vector/t7-min.jpg", alt="Sheep during a pandemic")
                                            figure
                                                a(href= imgPath + "gallery/vector/8-min.jpg" class="item")
                                                    img(src= imgPath + "gallery/vector/t8-min.jpg", alt="Patterns")
                                            figure
                                                a(href= imgPath + "gallery/vector/9-min.jpg" class="item")
                                                    img(src= imgPath + "gallery/vector/t9-min.jpg", alt="Slytherin emblem")
                                            figure
                                                a(href= imgPath + "gallery/vector/10-min.jpg" class="item")
                                                    img(src= imgPath + "gallery/vector/t10-min.jpg", alt="Transformer")
                
        div(class="cd-cover-layer")
        div(class="cd-loading-bar")
        //- script(type="text/javascript" src= jsPath + "jquery-2.1.1.js")

        
       
