-var sizes = ['16x16', '32x32', '96x96', '120x120', '192x192', '57x57', '60x60', '72x72', '76x76', '114x114', '120x120', '144x144', '152x152', '180x180'];
-var sizesBg = ['2560', '1920', '1600', '1440', '1280']
-var cssPath = "./css/";
-var jsPath = "./js/";
-var favPath = "./favicon/";
-var imgPath = "./images/";
-var incPath = "./include/";
-var navBarColor = "#ffffff";
-var logoImg = "ruvilogo.svg"; //- Logo Image
-var logoText = "RuVi Logo" //-Logo Text
-var titles = "RuVi Profile Arts"; //Cambiar Para Head Title
-var menuItem = ['Home', 'Price', 'Arts', 'Web', 'About']; // Menu name
-var menuItemHref = ['index.html', '#!', 'arts.html', '#!', 'about.html'] // Menu Link
-var socialLink = ['Freelancer', 'Pinterest', 'Youtube', 'Twitter', 'GitHub'] // Social name
-var socialLinlHref = ['https://www.freelancer.com/u/Araah', 'https://www.pinterest.com/alisaandrabbit/', '#!', '#!', 'https://github.com/Araah'] // Social link
-var cont02TextTitle = ['Title exaple 1', 'Title examplem 2'];
-var cont02Text =['Text example 1', 'Text example 2'];
-var curentPage = 'Arts';


<!DOCTYPE html>
html(lang="en")
    head
        include include/head.pug
        //- script(async type="text/javascript", src=jsPath + "gallery.js")
        
    body
        main
            div(class="cd-index cd-main-content")
                div
                    include include/header-nav.pug
                    
                    .gallery_wrapper
                    
                        
                        .lightgallery
                            h1 Photoshop work
                            .container
                                #carousel
                                    .selector1
                                        figure
                                            a(href= imgPath + "gallery/photoshop/1.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t1.jpg", alt="The lion on fire")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/2.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t2.jpg", alt="Gas wolf")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/3.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t3.jpg", alt="Flower of water")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/4.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t4.jpg", alt="Stellar Elephant")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/5.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t5.jpg", alt="Fire biker")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/6.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t6.jpg", alt="Spirit of Flowers")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/7.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t7.jpg", alt="Toxic Mask")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/8.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t8.jpg", alt="Dream of a kiss")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/9.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t9.jpg", alt="You want?")
                                        figure
                                            a(href= imgPath + "gallery/photoshop/10.jpg" class="item")
                                                img(src= imgPath + "gallery/photoshop/t10.jpg", alt="Bull Viper")
                        .lightgallery
                            h1 Vector illustration
                            .container
                                #carousel
                                    .selector1
                                        figure
                                            a(href= imgPath + "gallery/vector/1.jpg" class="item")
                                                img(src= imgPath + "gallery/vector/t1.jpg", alt="Goddess of War")
                                        figure
                                            a(href= imgPath + "gallery/vector/2.jpg" class="item")
                                                img(src= imgPath + "gallery/vector/t2.jpg", alt="Helena")
                                        figure
                                            a(href= imgPath + "gallery/vector/3.jpg" class="item")
                                                img(src= imgPath + "gallery/vector/t3.jpg", alt="Octopus at anchor")
                                        figure
                                            a(href= imgPath + "gallery/vector/4.jpg" class="item")
                                                img(src= imgPath + "gallery/vector/t4.jpg", alt="Williams")
                                        figure
                                            a(href= imgPath + "gallery/vector/5.jpg" class="item")
                                                img(src= imgPath + "gallery/vector/t5.jpg", alt="Owl")
                                        figure
                                            a(href= imgPath + "gallery/vector/6.jpg" class="item")
                                                img(src= imgPath + "gallery/vector/t6.jpg", alt="Anna")
                                        figure
                                            a(href= imgPath + "gallery/vector/7.jpg" class="item")
                                                img(src= imgPath + "gallery/vector/t7.jpg", alt="Sheep during a pandemic")
                                        figure
                                            a(href= imgPath + "gallery/vector/8.jpg" class="item")
                                                img(src= imgPath + "gallery/vector/t8.jpg", alt="Patterns")
                                        figure
                                            a(href= imgPath + "gallery/vector/9.jpg" class="item")
                                                img(src= imgPath + "gallery/vector/t9.jpg", alt="Slytherin emblem")
                                        figure
                                            a(href= imgPath + "gallery/vector/10.jpg" class="item")
                                                img(src= imgPath + "gallery/vector/t10.jpg", alt="Transformer")
                
        div(class="cd-cover-layer")
        div(class="cd-loading-bar")
        //- script(type="text/javascript" src= jsPath + "jquery-2.1.1.js")

        
       
