html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  color: #ffffff;
  font-size: 16px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  padding-top: 1vh;
}

nav {
  background-color: #041526;
  min-height: 10vh;
}

section.section-1 {
  background-color: #062340;
  min-height: 10vh;
  display: none;
}

section.section-2 {
  background-color: #041526;
  min-height: 10vh;
  display: none;
}

footer {
  background-color: #041526;
  min-height: 10vh;
}

div.tab {
  margin: 0 15vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
div.tab button.card {
  width: 20vw;
  height: 30vh;
  margin: 2vh;
  background-color: none;
  background: none;
  border: 0px;
  border-radius: 8px;
  overflow: hidden;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
}
div.tab button.card .card-title {
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #ff9933, #ffcc33);
  min-height: 5vh;
  width: 100%;
}
div.tab button.card .card-content {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

div.tab_in {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.active {
  display: block !important;
}