<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="./js/main.js")
        title Order  
    body
        nav
        section.section-1(class='active')
            h2 Choose Hosting Type:
            div.tab
                div.tab_in
                    button.card(id="host")
                        .card-title 
                            h3 Game Hosting       
                        .card-content
                    button.card(id="host2")
                        .card-title 
                            h3 Web Hosting
                        .card-content
        section.section-2(id='region')
            h2 Choose Region:
            div.tab
                div.tab_in
                    button.card(id='regionButt')
                        .card-title
                            h3 Quebec, North America
                        .card-content
                    button.card(id='regionButt')
                        .card-title
                            h3 Sydney, Australia
                        .card-content
        section.section-2(id='other')
            h2 Choose Region:
            div.tab
                div.tab_in
                    button.card(id='otherButt')
                        .card-title
                            h3 Other Hosting
                        .card-content
        section.section-1(id="regServises")
            h2 Choose Service:
            div.tab
                div.tab_in
                    button.card(id="price1")
                        .card-title
                            h3 Ark: Survival Evolved
                        .card-content
                    button.card(id="price2")
                        .card-title
                            h3 CS:GO
                        .card-content
                    button.card(id="price3")
                        .card-title
                            h3 Minecraft
                        .card-content
                    button.card(id="price4")
                        .card-title
                            h3 Rust
                        .card-content
                    button.card(id="price5")
                        .card-title
                            h3 Team Fortress 2
                        .card-content
                    button.card(id="price6")
                        .card-title
                            h3 Terraria
                        .card-content
                    button.card(id="price7")
                        .card-title
                            h3 Unturned
                        .card-content
        section.section-1(id="otherServises")
            h2 Choose Service:
            div.tab
                div.tab_in
                    button.card(id="price8")
                        .card-title
                            h3 Website Hosting
                        .card-content
        section.section-2(id="pr1")
            h2 Choose Package:
            div.tab
                div.tab_in
                    button.card(class="prices")
                        .card-title
                            h3 Test price1
                        .card-content
                    button.card(class="prices")
                        .card-title
                            h3 Test price2
                        .card-content
        section.section-2(id="pr2")
            h2 Choose Package:
            div.tab
                div.tab_in
                    button.card(class="prices")
                        .card-title
                            h3 Test price3
                        .card-content
                    button.card(class="prices")
                        .card-title
                            h3 Test price4
                        .card-content
        section.section-2(id="pr3")
            h2 Choose Package:
            div.tab
                div.tab_in
                    button.card(class="prices")
                        .card-title
                            h3 Test price5
                        .card-content
                    button.card(class="prices")
                        .card-title
                            h3 Test price6
                        .card-content
        section.section-2(id="pr4")
            h2 Choose Package:
            div.tab
                div.tab_in
                    button.card(class="prices")
                        .card-title
                            h3 Test price7
                        .card-content
        section.section-2(id="pr5")
            h2 Choose Package:
            div.tab
                div.tab_in
                    button.card(class="prices")
                        .card-title
                            h3 Test price8
                        .card-content
                    button.card(class="prices")
                        .card-title
                            h3 Test price9
                        .card-content
        section.section-2(id="pr6")
            h2 Choose Package:
            div.tab
                div.tab_in
                    button.card(class="prices")
                        .card-title
                            h3 Test price10
                        .card-content
                    button.card(class="prices")
                        .card-title
                            h3 Test price11
                        .card-content
                    button.card(class="prices")
                        .card-title
                            h3 Test price12
                        .card-content
        section.section-2(id="pr7")
            h2 Choose Package:
            div.tab
                div.tab_in
                    button.card(class="prices")
                        .card-title
                            h3 Test price13
                        .card-content
                    button.card(class="prices")
                        .card-title
                            h3 Test price14
                        .card-content
        section.section-2(id="pr8")
            h2 Choose Package:
            div.tab
                div.tab_in
                    button.card(class="prices")
                        .card-title
                            h3 Test price15
                        .card-content
        section.section-1(id="mensual")
            h2 Choose Term:
            div.tab
                div.tab_in
                    button.card
                        .card-title
                            h3 1 month
                        .card-content
                    button.card
                        .card-title
                            h3 6 month
                        .card-content
                    button.card
                        .card-title
                            h3 12 month
                        .card-content
        footer
            section(class="section-primary active")
                div(class="container")
                    header(class="section-header")
                        h2 Looking for a custom solution?
                        p Our technicians can provide you with the best custom made server solutions on the market, no matter whether you're a freelancer, small business or large enterprise.
                        p
                            a(class="button button-gradient" href="contact.html") Sales Department
                            i(class="fas fa-envelope fa-left")
            


            